version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: shopuser
      MONGO_INITDB_ROOT_PASSWORD: ShopNowPass123
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      MONGODB_URI: mongodb://shopuser:ShopNowPass123@mongo:27017/shopnow?authSource=admin
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  admin:
    build: ./admin
    container_name: admin
    ports:
      - "3001:80"
    depends_on:
      - backend

volumes:
  mongo-data:
