apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
  namespace: shopnow
spec:
  replicas: 2
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: admin
          image: 975050024946.dkr.ecr.us-west-1.amazonaws.com/shopnow-admin:v1
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"

