apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: shopnow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: frontend
          image: 975050024946.dkr.ecr.us-west-1.amazonaws.com/shopnow-frontend:v1
          ports:
            - containerPort: 80
